{% extends 'data/base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6 pad">
    <div class="col-xs-12">
      <label class="col-xs-12"><strong>Traning session:</strong></label>
    </div>
    <div class="col-xs-12">
      <textarea id="traning" class="col-xs-12" rows="9" cols="50"></textarea>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 pad">
    <div class="col-xs-12 col-md-6">
      <div class="col-xs-12">
        <label>Temperature:   {{ temperature }}</label>
      </div>
      <div class="col-xs-12">
        <label>Weather:   {{weather}}</label>
      </div>
      <div class="col-xs-12">
        <label>Humidity:   {{Humidity}}</label>
      </div>
      <div class="col-xs-12">
        <label>Wind:   {{wind}}</label>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12">
        <label class="col-xs-12" class="subtitle-session"><strong>Aditional Information</strong></label>
      </div>
      <div class="col-xs-12">
        <textarea id="aditional" class="col-xs-12" rows="4" cols="50"></textarea>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 pad">
    <div class="col-xs-12 col-md-12">
      <table class="table table-striped table-bordered" id="player-table">
          <thead>
              <tr>
                  <th>Athlete Id</th>
                  <th>Athlete Name</th>
                  <th>Right Sensor</th>
                  <th>Left Sensor</th>
                  <th>Age</th>
                  <th>Foot</th>
                  <th>Weight</th>
                  <th>Height</th>
                  <th>LOPD</th>
              </tr>
          </thead>
          <tbody>
              {% for athlete in list_athletes %}
                  <tr>
                      <td>{{ athlete.id }}</td>
                      <td>{{ athlete.name }}</td>
                      <td>{{ athlete.right }}</td>
                      <td>{{ athlete.left }}</td>
                      <td>{{ athlete.age }}</td>
                      <td>{{ athlete.foot }}</td>
                      <td>{{ athlete.weight }}</td>
                      <td>{{ athlete.height }}</td>
                      <td>{{ athlete.lopd }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content%}
