{% extends 'data/base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="col-xs-12">
      <label class="col-xs-12">Traning session:</label>
    </div>
    <div class="col-xs-12">
      <textarea id="traning" class="col-xs-12"></textarea>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="col-xs-12">
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12">
        <label class="col-xs-12">Aditional Information</label>
      </div>
      <div class="col-xs-12">
        <textarea id="aditional" class="col-xs-12"></textarea>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
  </div>
</div>
{% endblock content%}
